$image-path: '../images/';

@import 'form.scss';
@import 'modal.scss';
@import 'navigation.scss';
@import 'styles.scss';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

